# Required: Spark Connect host[:port]
DDPE_SPARK_CONNECT_URL=spark-connect.example:443
DDPE_SPARK_CONNECT_CA=/path/to/ddpe-spark-ca.pem
DDPE_KEYCLOAK_TOKEN_URL=https://keycloak.example/auth/realms/ddae/protocol/openid-connect/token
DDPE_KEYCLOAK_CA=/path/to/keycloak-ca.pem
DDPE_OIDC_CLIENT_ID=ddpe-client
DDPE_OIDC_CLIENT_SECRET=
DDPE_USERNAME=
DDPE_PASSWORD=
DDPE_VERIFY_SSL=true
